/*
    Grid Breakpoints;
    * xs: 0 - Extra Small
    * sm: 576px - Small
    * md: 768px - Medium
    * lg: 992px - Large
    * xl: 1200px - X-Large
*/

/* Global Variables */
:root {
    --primary-color: #014f86;
    --secondary-color: #8d99ae;
    --warning-color: #ffb703;
    --danger-color: #d00000;
    --light-color: #e5e5e5;
    --info-color: #89c2d9;
    --white-color: #ffffff;
    --dark-color: #0b090a;
    --success-color: #31cb00;
}

* {
    outline: none;
    box-sizing: border-box;
}

/* Container & Fluid */
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}
.container-full {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/* Row */
.container > .row {
    position: relative;
    left: -10px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
}

/* Col */
.container > .row > .col {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10px;
}
.container > .row > .col-1 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 1);
    padding: 0 10px;
}
.container > .row > .col-2 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 2);
    padding: 0 10px;
}
.container > .row > .col-3 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 3);
    padding: 0 10px;
}
.container > .row > .col-4 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 4);
    padding: 0 10px;
}
.container > .row > .col-5 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 5);
    padding: 0 10px;
}
.container > .row > .col-6 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 6);
    padding: 0 10px;
}
.container > .row > .col-7 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 7);
    padding: 0 10px;
}
.container > .row > .col-8 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 8);
    padding: 0 10px;
}
.container > .row > .col-9 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 9);
    padding: 0 10px;
}
.container > .row > .col-10 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 10);
    padding: 0 10px;
}
.container > .row > .col-11 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 11);
    padding: 0 10px;
}
.container > .row > .col-12 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 12);
    padding: 0 10px;
}

/* Display */
.d-none {
    display: none !important;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.d-grid {
    display: grid;
}
.d-inline-grid {
    display: inline-grid;
}

/* Flex */
.flex-direction-row {
    flex-direction: row;
}
.flex-direction-row-reverse {
    flex-direction: row-reverse;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-direction-column-reverse {
    flex-direction: column-reverse;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.justify-content-flex-start {
    justify-content: flex-start;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.align-items-flex-start {
    align-items: flex-start;
}
.align-items-flex-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-baseline {
    align-items: baseline;
}
.align-items-stretch {
    align-items: stretch;
}
.align-content-flex-start {
    align-content: flex-start;
}
.align-content-flex-end {
    align-content: flex-end;
}
.align-content-center {
    align-content: center;
}
.align-content-stretch {
    align-content: stretch;
}
.align-content-space-between {
    align-content: space-between;
}
.align-content-space-evenly {
    align-content: space-evenly;
}
.align-self-auto {
    align-self: auto;
}
.align-self-flex-start {
    align-self: flex-start;
}
.align-self-flex-end {
    align-self: flex-end;
}
.align-self-center {
    align-self: center;
}
.align-self-baseline {
    align-self: baseline;
}
.align-self-stretch {
    align-self: stretch;
}
.order-0 {
    order: 0;
}
.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
.order-3 {
    order: 3;
}
.order-4 {
    order: 4;
}
.order-5 {
    order: 5;
}
.order-6 {
    order: 6;
}
.order-7 {
    order: 7;
}
.order-8 {
    order: 8;
}
.order-9 {
    order: 9;
}
.order-10 {
    order: 10;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.flex-grow-3 {
    flex-grow: 3;
}
.flex-grow-4 {
    flex-grow: 4;
}
.flex-grow-5 {
    flex-grow: 5;
}
.flex-grow-6 {
    flex-grow: 6;
}
.flex-grow-7 {
    flex-grow: 7;
}
.flex-grow-8 {
    flex-grow: 8;
}
.flex-grow-9 {
    flex-grow: 9;
}
.flex-grow-10 {
    flex-grow: 10;
}
.flex-shrink-1 {
    flex-shrink: 1;
}
.flex-shrink-2 {
    flex-shrink: 2;
}
.flex-shrink-3 {
    flex-shrink: 3;
}
.flex-shrink-4 {
    flex-shrink: 4;
}
.flex-shrink-5 {
    flex-shrink: 5;
}
.flex-shrink-6 {
    flex-shrink: 6;
}
.flex-shrink-7 {
    flex-shrink: 7;
}
.flex-shrink-8 {
    flex-shrink: 8;
}
.flex-shrink-9 {
    flex-shrink: 9;
}
.flex-shrink-10 {
    flex-shrink: 10;
}
.flex-basis-0 {
    flex-basis: 0;
}
.flex-basis-1 {
    flex-basis: 10%;
}
.flex-basis-2 {
    flex-basis: 20%;
}
.flex-basis-3 {
    flex-basis: 30%;
}
.flex-basis-4 {
    flex-basis: 40%;
}
.flex-basis-5 {
    flex-basis: 50%;
}
.flex-basis-6 {
    flex-basis: 60%;
}
.flex-basis-7 {
    flex-basis: 70%;
}
.flex-basis-8 {
    flex-basis: 80%;
}
.flex-basis-9 {
    flex-basis: 90%;
}
.flex-basis-10 {
    flex-basis: 100%;
}

/* Float */
.float-start {
    float: start;
}
.float-end {
    float: end;
}
.float-none {
    float: none;
}

/* Border & Radius */
.border {
    border: 1px #8d99ae solid;
}
.border-top {
    border-top: 1px #8d99ae solid;
}
.border-bottom {
    border-bottom: 1px #8d99ae solid;
}
.border-start {
    border-left: 1px #8d99ae solid;
}
.border-end {
    border-right: 1px #8d99ae solid;
}
.border-0 {
    border-width: 0;
}
.border-top-0 {
    border-top-width: 0;
}
.border-bottom-0 {
    border-bottom-width: 0;
}
.border-start-0 {
    border-left-width: 0;
}
.border-end-0 {
    border-right-width: 0;
}
.border-primary {
    border-color: var(--primary-color);
}
.border-secondary {
    border-color: var(--secondary-color);
}
.border-success {
    border-color: var(--success-color);
}
.border-danger {
    border-color: var(--danger-color);
}
.border-warning {
    border-color: var(--warning-color);
}
.border-info {
    border-color: var(--info-color);
}
.border-light {
    border-color: var(--light-color);
}
.border-dark {
    border-color: var(--dark-color);
}
.border-white {
    border-color: var(--white-color);
}
.border.border-1 {
    border-width: 1px;
}
.border.border-2 {
    border-width: 2px;
}
.border.border-3 {
    border-width: 3px;
}
.border.border-4 {
    border-width: 4px;
}
.border.border-5 {
    border-width: 5px;
}
.rounded {
    border-radius: 3px;
}
.rounded-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.rounded-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.rounded-end {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.rounded-start {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.rounded-circle {
    border-radius: 50%;
}
.rounded-half {
    border-radius: 50px;
}

/* Text Color & Background Color */
.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-success {
    background-color: var(--success-color);
}
.bg-danger {
    background-color: var(--danger-color);
}
.bg-warning {
    background-color: var(--warning-color);
}
.bg-info {
    background-color: var(--info-color);
}
.bg-light {
    background-color: var(--light-color);
}
.bg-dark {
    background-color: var(--dark-color);
}
.bg-white {
    background-color: var(--white-color);
}
.bg-transparent {
    background-color: transparent;
}
.text-primary {
    color: var(--primary-color);
}
.text-secondary {
    color: var(--secondary-color);
}
.text-success {
    color: var(--success-color);
}
.text-danger {
    color: var(--danger-color);
}
.text-warning {
    color: var(--warning-color);
}
.text-info {
    color: var(--info-color);
}
.text-light {
    color: var(--light-color);
}
.text-dark {
    color: var(--dark-color);
}
.text-white {
    color: var(--white-color);
}
.text-transparent {
    color: transparent;
}

/* Interactions */
.pointer-events-none {
    pointer-events: none;
}
.pointer-events-auto {
    pointer-events: auto;
}
.user-select-none {
    user-select: none;
}
.user-select-auto {
    user-select: auto;
}
.user-select-all {
    user-select: all;
}

/* Overflow */
.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}
.overflow-visible {
    overflow: visible;
}
.overflow-auto {
    overflow: auto;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.overflow-x-scroll {
    overflow-x: scroll;
}
.overflow-x-visible {
    overflow-x: visible;
}
.overflow-x-auto {
    overflow-x: auto;
}
.overflow-y-hidden {
    overflow-y: hidden;
}
.overflow-y-scroll {
    overflow-y: scroll;
}
.overflow-y-visible {
    overflow-y: visible;
}
.overflow-y-auto {
    overflow-y: auto;
}

/* Position */
.position-static {
    position: static;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.position-fixed {
    position: fixed;
}
.position-sticky {
    position: sticky;
}
.top-0 {
    top: 0;
}
.bottom-0 {
    bottom: 0;
}
.start-0 {
    left: 0;
}
.end-0 {
    right: 0;
}
.top-10 {
    top: 10%;
}
.top-20 {
    top: 20%;
}
.top-30 {
    top: 30%;
}
.top-40 {
    top: 40%;
}
.top-50 {
    top: 50%;
}
.top-60 {
    top: 60%;
}
.top-70 {
    top: 70%;
}
.top-80 {
    top: 80%;
}
.top-90 {
    top: 90%;
}
.top-100 {
    top: 100%;
}
.bottom-10 {
    bottom: 10%;
}
.bottom-20 {
    bottom: 20%;
}
.bottom-30 {
    bottom: 30%;
}
.bottom-40 {
    bottom: 40%;
}
.bottom-50 {
    bottom: 50%;
}
.bottom-60 {
    bottom: 60%;
}
.bottom-70 {
    bottom: 70%;
}
.bottom-80 {
    bottom: 80%;
}
.bottom-90 {
    bottom: 90%;
}
.bottom-100 {
    bottom: 100%;
}
.start-10 {
    left: 10%;
}
.start-20 {
    left: 20%;
}
.start-30 {
    left: 30%;
}
.start-40 {
    left: 40%;
}
.start-50 {
    left: 50%;
}
.start-60 {
    left: 60%;
}
.start-70 {
    left: 70%;
}
.start-80 {
    left: 80%;
}
.start-90 {
    left: 90%;
}
.start-100 {
    left: 100%;
}
.end-10 {
    right: 10%;
}
.end-20 {
    right: 20%;
}
.end-30 {
    right: 30%;
}
.end-40 {
    right: 40%;
}
.end-50 {
    right: 50%;
}
.end-60 {
    right: 60%;
}
.end-70 {
    right: 70%;
}
.end-80 {
    right: 80%;
}
.end-90 {
    right: 90%;
}
.end-100 {
    right: 100%;
}
.translate-middle {
    transform: translate(-50%, -50%) !important;
}

/* Shadow */
.box-shadow-none {
    box-shadow: none;
}
.box-shadow-sm {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.box-shadow-md {
    box-shadow: rgba(149, 157, 165, 0.5) 0 8px 24px;
}
.box-shadow-lg {
    box-shadow: rgba(149, 157, 165, 1) 0 8px 24px;
}
.text-shadow-none {
    text-shadow: none;
}
.text-shadow-sm {
    text-shadow: 2px 2px rgba(149, 157, 165, 0.2);
}
.text-shadow-md {
    text-shadow: 2px 2px rgba(149, 157, 165, 0.5);
}
.text-shadow-lg {
    text-shadow: 2px 2px rgba(149, 157, 165, 1);
}

/*
    Every Screen CSS Codes
*/
@media (max-width: 575.98px) { /* SM */
    /* Container & Fluid */
    .container {
        width: 100%;
    }

    /* Col */
    .container > .row > .col-sm-1 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 1);
        padding: 0 10px;
    }
    .container > .row > .col-sm-2 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 2);
        padding: 0 10px;
    }
    .container > .row > .col-sm-3 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .container > .row > .col-sm-4 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 4);
        padding: 0 10px;
    }
    .container > .row > .col-sm-5 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 5);
        padding: 0 10px;
    }
    .container > .row > .col-sm-6 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 6);
        padding: 0 10px;
    }
    .container > .row > .col-sm-7 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 7);
        padding: 0 10px;
    }
    .container > .row > .col-sm-8 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        padding: 0 10px;
    }
    .container > .row > .col-sm-9 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 9);
        padding: 0 10px;
    }
    .container > .row > .col-sm-10 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 10);
        padding: 0 10px;
    }
    .container > .row > .col-sm-11 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 11);
        padding: 0 10px;
    }
    .container > .row > .col-sm-12 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 12);
        padding: 0 10px;
    }

    /* Display */
    .d-sm-none {
        display: none !important;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-inline-block {
        display: inline-block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-inline-flex {
        display: inline-flex;
    }
    .d-sm-grid {
        display: grid;
    }
    .d-sm-inline-grid {
        display: inline-grid;
    }

    /* Flex */
    .flex-sm-direction-row {
        flex-direction: row;
    }
    .flex-sm-direction-row-reverse {
        flex-direction: row-reverse;
    }
    .flex-sm-direction-column {
        flex-direction: column;
    }
    .flex-sm-direction-column-reverse {
        flex-direction: column-reverse;
    }
    .flex-sm-nowrap {
        flex-wrap: nowrap;
    }
    .flex-sm-wrap {
        flex-wrap: wrap;
    }
    .flex-sm-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    .justify-sm-content-flex-start {
        justify-content: flex-start;
    }
    .justify-sm-content-flex-end {
        justify-content: flex-end;
    }
    .justify-sm-content-center {
        justify-content: center;
    }
    .justify-sm-content-space-between {
        justify-content: space-between;
    }
    .justify-sm-content-space-around {
        justify-content: space-around;
    }
    .justify-sm-content-space-evenly {
        justify-content: space-evenly;
    }
    .align-sm-items-flex-start {
        align-items: flex-start;
    }
    .align-sm-items-flex-end {
        align-items: flex-end;
    }
    .align-sm-items-center {
        align-items: center;
    }
    .align-sm-items-baseline {
        align-items: baseline;
    }
    .align-sm-items-stretch {
        align-items: stretch;
    }
    .align-sm-content-flex-start {
        align-content: flex-start;
    }
    .align-sm-content-flex-end {
        align-content: flex-end;
    }
    .align-sm-content-center {
        align-content: center;
    }
    .align-sm-content-stretch {
        align-content: stretch;
    }
    .align-sm-content-space-between {
        align-content: space-between;
    }
    .align-sm-content-space-evenly {
        align-content: space-evenly;
    }
    .align-sm-self-auto {
        align-self: auto;
    }
    .align-sm-self-flex-start {
        align-self: flex-start;
    }
    .align-sm-self-flex-end {
        align-self: flex-end;
    }
    .align-sm-self-center {
        align-self: center;
    }
    .align-sm-self-baseline {
        align-self: baseline;
    }
    .align-sm-self-stretch {
        align-self: stretch;
    }
    .order-sm-0 {
        order: 0;
    }
    .order-sm-1 {
        order: 1;
    }
    .order-sm-2 {
        order: 2;
    }
    .order-sm-3 {
        order: 3;
    }
    .order-sm-4 {
        order: 4;
    }
    .order-sm-5 {
        order: 5;
    }
    .order-sm-6 {
        order: 6;
    }
    .order-sm-7 {
        order: 7;
    }
    .order-sm-8 {
        order: 8;
    }
    .order-sm-9 {
        order: 9;
    }
    .order-sm-10 {
        order: 10;
    }
    .flex-sm-grow-1 {
        flex-grow: 1;
    }
    .flex-sm-grow-2 {
        flex-grow: 2;
    }
    .flex-sm-grow-3 {
        flex-grow: 3;
    }
    .flex-sm-grow-4 {
        flex-grow: 4;
    }
    .flex-sm-grow-5 {
        flex-grow: 5;
    }
    .flex-sm-grow-6 {
        flex-grow: 6;
    }
    .flex-sm-grow-7 {
        flex-grow: 7;
    }
    .flex-sm-grow-8 {
        flex-grow: 8;
    }
    .flex-sm-grow-9 {
        flex-grow: 9;
    }
    .flex-sm-grow-10 {
        flex-grow: 10;
    }
    .flex-sm-shrink-1 {
        flex-shrink: 1;
    }
    .flex-sm-shrink-2 {
        flex-shrink: 2;
    }
    .flex-sm-shrink-3 {
        flex-shrink: 3;
    }
    .flex-sm-shrink-4 {
        flex-shrink: 4;
    }
    .flex-sm-shrink-5 {
        flex-shrink: 5;
    }
    .flex-sm-shrink-6 {
        flex-shrink: 6;
    }
    .flex-sm-shrink-7 {
        flex-shrink: 7;
    }
    .flex-sm-shrink-8 {
        flex-shrink: 8;
    }
    .flex-sm-shrink-9 {
        flex-shrink: 9;
    }
    .flex-sm-shrink-10 {
        flex-shrink: 10;
    }
    .flex-sm-basis-0 {
        flex-basis: 0;
    }
    .flex-sm-basis-1 {
        flex-basis: 10%;
    }
    .flex-sm-basis-2 {
        flex-basis: 20%;
    }
    .flex-sm-basis-3 {
        flex-basis: 30%;
    }
    .flex-sm-basis-4 {
        flex-basis: 40%;
    }
    .flex-sm-basis-5 {
        flex-basis: 50%;
    }
    .flex-sm-basis-6 {
        flex-basis: 60%;
    }
    .flex-sm-basis-7 {
        flex-basis: 70%;
    }
    .flex-sm-basis-8 {
        flex-basis: 80%;
    }
    .flex-sm-basis-9 {
        flex-basis: 90%;
    }
    .flex-sm-basis-10 {
        flex-basis: 100%;
    }

    /* Float */
    .float-sm-start {
        float: start;
    }
    .float-sm-end {
        float: end;
    }
    .float-sm-none {
        float: none;
    }

    /* Border & Radius */
    .border-sm {
        border: 1px #8d99ae solid;
    }
    .border-sm-top {
        border-top: 1px #8d99ae solid;
    }
    .border-sm-bottom {
        border-bottom: 1px #8d99ae solid;
    }
    .border-sm-start {
        border-left: 1px #8d99ae solid;
    }
    .border-sm-end {
        border-right: 1px #8d99ae solid;
    }
    .border-sm-0 {
        border-width: 0;
    }
    .border-sm-top-0 {
        border-top-width: 0;
    }
    .border-sm-bottom-0 {
        border-bottom-width: 0;
    }
    .border-sm-start-0 {
        border-left-width: 0;
    }
    .border-sm-end-0 {
        border-right-width: 0;
    }
    .border-sm-primary {
        border-color: var(--primary-color);
    }
    .border-sm-secondary {
        border-color: var(--secondary-color);
    }
    .border-sm-success {
        border-color: var(--success-color);
    }
    .border-sm-danger {
        border-color: var(--danger-color);
    }
    .border-sm-warning {
        border-color: var(--warning-color);
    }
    .border-sm-info {
        border-color: var(--info-color);
    }
    .border-sm-light {
        border-color: var(--light-color);
    }
    .border-sm-dark {
        border-color: var(--dark-color);
    }
    .border-sm-white {
        border-color: var(--white-color);
    }
    .border.border-sm-1 {
        border-width: 1px;
    }
    .border.border-sm-2 {
        border-width: 2px;
    }
    .border.border-sm-3 {
        border-width: 3px;
    }
    .border.border-sm-4 {
        border-width: 4px;
    }
    .border.border-sm-5 {
        border-width: 5px;
    }
    .rounded-sm {
        border-radius: 3px;
    }
    .rounded-sm-top {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .rounded-sm-bottom {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .rounded-sm-end {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .rounded-sm-start {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .rounded-sm-circle {
        border-radius: 50%;
    }
    .rounded-sm-half {
        border-radius: 50px;
    }

    /* Overflow */
    .overflow-sm-hidden {
        overflow: hidden;
    }
    .overflow-sm-scroll {
        overflow: scroll;
    }
    .overflow-sm-visible {
        overflow: visible;
    }
    .overflow-sm-auto {
        overflow: auto;
    }
    .overflow-sm-x-hidden {
        overflow-x: hidden;
    }
    .overflow-sm-x-scroll {
        overflow-x: scroll;
    }
    .overflow-sm-x-visible {
        overflow-x: visible;
    }
    .overflow-sm-x-auto {
        overflow-x: auto;
    }
    .overflow-sm-y-hidden {
        overflow-y: hidden;
    }
    .overflow-sm-y-scroll {
        overflow-y: scroll;
    }
    .overflow-sm-y-visible {
        overflow-y: visible;
    }
    .overflow-sm-y-auto {
        overflow-y: auto;
    }
}
@media (min-width: 576px) { /* SM */

}

@media (max-width: 767.98px) { /* MD */
    /* Container & Fluid */
    .container {
        width: 100%;
    }
}
@media (min-width: 768px) { /* MD */
    /* Col */
    .container > .row > .col-md-1 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 1);
        padding: 0 10px;
    }
    .container > .row > .col-md-2 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 2);
        padding: 0 10px;
    }
    .container > .row > .col-md-3 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .container > .row > .col-md-4 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 4);
        padding: 0 10px;
    }
    .container > .row > .col-md-5 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 5);
        padding: 0 10px;
    }
    .container > .row > .col-md-6 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 6);
        padding: 0 10px;
    }
    .container > .row > .col-md-7 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 7);
        padding: 0 10px;
    }
    .container > .row > .col-md-8 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        padding: 0 10px;
    }
    .container > .row > .col-md-9 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 9);
        padding: 0 10px;
    }
    .container > .row > .col-md-10 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 10);
        padding: 0 10px;
    }
    .container > .row > .col-md-11 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 11);
        padding: 0 10px;
    }
    .container > .row > .col-md-12 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 12);
        padding: 0 10px;
    }

    /* Display */
    .d-md-none {
        display: none !important;
    }
    .d-md-block {
        display: block;
    }
    .d-md-inline-block {
        display: inline-block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-inline-flex {
        display: inline-flex;
    }
    .d-md-grid {
        display: grid;
    }
    .d-md-inline-grid {
        display: inline-grid;
    }

    /* Flex */
    .flex-md-direction-row {
        flex-direction: row;
    }
    .flex-md-direction-row-reverse {
        flex-direction: row-reverse;
    }
    .flex-md-direction-column {
        flex-direction: column;
    }
    .flex-md-direction-column-reverse {
        flex-direction: column-reverse;
    }
    .flex-md-nowrap {
        flex-wrap: nowrap;
    }
    .flex-md-wrap {
        flex-wrap: wrap;
    }
    .flex-md-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    .justify-md-content-flex-start {
        justify-content: flex-start;
    }
    .justify-md-content-flex-end {
        justify-content: flex-end;
    }
    .justify-md-content-center {
        justify-content: center;
    }
    .justify-md-content-space-between {
        justify-content: space-between;
    }
    .justify-md-content-space-around {
        justify-content: space-around;
    }
    .justify-md-content-space-evenly {
        justify-content: space-evenly;
    }
    .align-md-items-flex-start {
        align-items: flex-start;
    }
    .align-md-items-flex-end {
        align-items: flex-end;
    }
    .align-md-items-center {
        align-items: center;
    }
    .align-md-items-baseline {
        align-items: baseline;
    }
    .align-md-items-stretch {
        align-items: stretch;
    }
    .align-md-content-flex-start {
        align-content: flex-start;
    }
    .align-md-content-flex-end {
        align-content: flex-end;
    }
    .align-md-content-center {
        align-content: center;
    }
    .align-md-content-stretch {
        align-content: stretch;
    }
    .align-md-content-space-between {
        align-content: space-between;
    }
    .align-md-content-space-evenly {
        align-content: space-evenly;
    }
    .align-md-self-auto {
        align-self: auto;
    }
    .align-md-self-flex-start {
        align-self: flex-start;
    }
    .align-md-self-flex-end {
        align-self: flex-end;
    }
    .align-md-self-center {
        align-self: center;
    }
    .align-md-self-baseline {
        align-self: baseline;
    }
    .align-md-self-stretch {
        align-self: stretch;
    }
    .order-md-0 {
        order: 0;
    }
    .order-md-1 {
        order: 1;
    }
    .order-md-2 {
        order: 2;
    }
    .order-md-3 {
        order: 3;
    }
    .order-md-4 {
        order: 4;
    }
    .order-md-5 {
        order: 5;
    }
    .order-md-6 {
        order: 6;
    }
    .order-md-7 {
        order: 7;
    }
    .order-md-8 {
        order: 8;
    }
    .order-md-9 {
        order: 9;
    }
    .order-md-10 {
        order: 10;
    }
    .flex-md-grow-1 {
        flex-grow: 1;
    }
    .flex-md-grow-2 {
        flex-grow: 2;
    }
    .flex-md-grow-3 {
        flex-grow: 3;
    }
    .flex-md-grow-4 {
        flex-grow: 4;
    }
    .flex-md-grow-5 {
        flex-grow: 5;
    }
    .flex-md-grow-6 {
        flex-grow: 6;
    }
    .flex-md-grow-7 {
        flex-grow: 7;
    }
    .flex-md-grow-8 {
        flex-grow: 8;
    }
    .flex-md-grow-9 {
        flex-grow: 9;
    }
    .flex-md-grow-10 {
        flex-grow: 10;
    }
    .flex-md-shrink-1 {
        flex-shrink: 1;
    }
    .flex-md-shrink-2 {
        flex-shrink: 2;
    }
    .flex-md-shrink-3 {
        flex-shrink: 3;
    }
    .flex-md-shrink-4 {
        flex-shrink: 4;
    }
    .flex-md-shrink-5 {
        flex-shrink: 5;
    }
    .flex-md-shrink-6 {
        flex-shrink: 6;
    }
    .flex-md-shrink-7 {
        flex-shrink: 7;
    }
    .flex-md-shrink-8 {
        flex-shrink: 8;
    }
    .flex-md-shrink-9 {
        flex-shrink: 9;
    }
    .flex-md-shrink-10 {
        flex-shrink: 10;
    }
    .flex-md-basis-0 {
        flex-basis: 0;
    }
    .flex-md-basis-1 {
        flex-basis: 10%;
    }
    .flex-md-basis-2 {
        flex-basis: 20%;
    }
    .flex-md-basis-3 {
        flex-basis: 30%;
    }
    .flex-md-basis-4 {
        flex-basis: 40%;
    }
    .flex-md-basis-5 {
        flex-basis: 50%;
    }
    .flex-md-basis-6 {
        flex-basis: 60%;
    }
    .flex-md-basis-7 {
        flex-basis: 70%;
    }
    .flex-md-basis-8 {
        flex-basis: 80%;
    }
    .flex-md-basis-9 {
        flex-basis: 90%;
    }
    .flex-md-basis-10 {
        flex-basis: 100%;
    }

    /* Float */
    .float-md-start {
        float: start;
    }
    .float-md-end {
        float: end;
    }
    .float-md-none {
        float: none;
    }

    /* Border & Radius */
    .border-md {
        border: 1px #8d99ae solid;
    }
    .border-md-top {
        border-top: 1px #8d99ae solid;
    }
    .border-md-bottom {
        border-bottom: 1px #8d99ae solid;
    }
    .border-md-start {
        border-left: 1px #8d99ae solid;
    }
    .border-md-end {
        border-right: 1px #8d99ae solid;
    }
    .border-md-0 {
        border-width: 0;
    }
    .border-md-top-0 {
        border-top-width: 0;
    }
    .border-md-bottom-0 {
        border-bottom-width: 0;
    }
    .border-md-start-0 {
        border-left-width: 0;
    }
    .border-md-end-0 {
        border-right-width: 0;
    }
    .border-md-primary {
        border-color: var(--primary-color);
    }
    .border-md-secondary {
        border-color: var(--secondary-color);
    }
    .border-md-success {
        border-color: var(--success-color);
    }
    .border-md-danger {
        border-color: var(--danger-color);
    }
    .border-md-warning {
        border-color: var(--warning-color);
    }
    .border-md-info {
        border-color: var(--info-color);
    }
    .border-md-light {
        border-color: var(--light-color);
    }
    .border-md-dark {
        border-color: var(--dark-color);
    }
    .border-md-white {
        border-color: var(--white-color);
    }
    .border.border-md-1 {
        border-width: 1px;
    }
    .border.border-md-2 {
        border-width: 2px;
    }
    .border.border-md-3 {
        border-width: 3px;
    }
    .border.border-md-4 {
        border-width: 4px;
    }
    .border.border-md-5 {
        border-width: 5px;
    }
    .rounded-md {
        border-radius: 3px;
    }
    .rounded-md-top {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .rounded-md-bottom {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .rounded-md-end {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .rounded-md-start {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .rounded-md-circle {
        border-radius: 50%;
    }
    .rounded-md-half {
        border-radius: 50px;
    }

    /* Overflow */
    .overflow-md-hidden {
        overflow: hidden;
    }
    .overflow-md-scroll {
        overflow: scroll;
    }
    .overflow-md-visible {
        overflow: visible;
    }
    .overflow-md-auto {
        overflow: auto;
    }
    .overflow-md-x-hidden {
        overflow-x: hidden;
    }
    .overflow-md-x-scroll {
        overflow-x: scroll;
    }
    .overflow-md-x-visible {
        overflow-x: visible;
    }
    .overflow-md-x-auto {
        overflow-x: auto;
    }
    .overflow-md-y-hidden {
        overflow-y: hidden;
    }
    .overflow-md-y-scroll {
        overflow-y: scroll;
    }
    .overflow-md-y-visible {
        overflow-y: visible;
    }
    .overflow-md-y-auto {
        overflow-y: auto;
    }
}

@media (max-width: 991.98px) { /* LG */

}
@media (min-width: 992px) { /* LG */
    /* Col */
    .container > .row > .col-lg-1 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 1);
        padding: 0 10px;
    }
    .container > .row > .col-lg-2 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 2);
        padding: 0 10px;
    }
    .container > .row > .col-lg-3 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .container > .row > .col-lg-4 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 4);
        padding: 0 10px;
    }
    .container > .row > .col-lg-5 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 5);
        padding: 0 10px;
    }
    .container > .row > .col-lg-6 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 6);
        padding: 0 10px;
    }
    .container > .row > .col-lg-7 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 7);
        padding: 0 10px;
    }
    .container > .row > .col-lg-8 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        padding: 0 10px;
    }
    .container > .row > .col-lg-9 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 9);
        padding: 0 10px;
    }
    .container > .row > .col-lg-10 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 10);
        padding: 0 10px;
    }
    .container > .row > .col-lg-11 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 11);
        padding: 0 10px;
    }
    .container > .row > .col-lg-12 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 12);
        padding: 0 10px;
    }

    /* Display */
    .d-lg-none {
        display: none !important;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-inline-block {
        display: inline-block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-inline-flex {
        display: inline-flex;
    }
    .d-lg-grid {
        display: grid;
    }
    .d-lg-inline-grid {
        display: inline-grid;
    }

    /* Flex */
    .flex-lg-direction-row {
        flex-direction: row;
    }
    .flex-lg-direction-row-reverse {
        flex-direction: row-reverse;
    }
    .flex-lg-direction-column {
        flex-direction: column;
    }
    .flex-lg-direction-column-reverse {
        flex-direction: column-reverse;
    }
    .flex-lg-nowrap {
        flex-wrap: nowrap;
    }
    .flex-lg-wrap {
        flex-wrap: wrap;
    }
    .flex-lg-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    .justify-lg-content-flex-start {
        justify-content: flex-start;
    }
    .justify-lg-content-flex-end {
        justify-content: flex-end;
    }
    .justify-lg-content-center {
        justify-content: center;
    }
    .justify-lg-content-space-between {
        justify-content: space-between;
    }
    .justify-lg-content-space-around {
        justify-content: space-around;
    }
    .justify-lg-content-space-evenly {
        justify-content: space-evenly;
    }
    .align-lg-items-flex-start {
        align-items: flex-start;
    }
    .align-lg-items-flex-end {
        align-items: flex-end;
    }
    .align-lg-items-center {
        align-items: center;
    }
    .align-lg-items-baseline {
        align-items: baseline;
    }
    .align-lg-items-stretch {
        align-items: stretch;
    }
    .align-lg-content-flex-start {
        align-content: flex-start;
    }
    .align-lg-content-flex-end {
        align-content: flex-end;
    }
    .align-lg-content-center {
        align-content: center;
    }
    .align-lg-content-stretch {
        align-content: stretch;
    }
    .align-lg-content-space-between {
        align-content: space-between;
    }
    .align-lg-content-space-evenly {
        align-content: space-evenly;
    }
    .align-lg-self-auto {
        align-self: auto;
    }
    .align-lg-self-flex-start {
        align-self: flex-start;
    }
    .align-lg-self-flex-end {
        align-self: flex-end;
    }
    .align-lg-self-center {
        align-self: center;
    }
    .align-lg-self-baseline {
        align-self: baseline;
    }
    .align-lg-self-stretch {
        align-self: stretch;
    }
    .order-lg-0 {
        order: 0;
    }
    .order-lg-1 {
        order: 1;
    }
    .order-lg-2 {
        order: 2;
    }
    .order-lg-3 {
        order: 3;
    }
    .order-lg-4 {
        order: 4;
    }
    .order-lg-5 {
        order: 5;
    }
    .order-lg-6 {
        order: 6;
    }
    .order-lg-7 {
        order: 7;
    }
    .order-lg-8 {
        order: 8;
    }
    .order-lg-9 {
        order: 9;
    }
    .order-lg-10 {
        order: 10;
    }
    .flex-lg-grow-1 {
        flex-grow: 1;
    }
    .flex-lg-grow-2 {
        flex-grow: 2;
    }
    .flex-lg-grow-3 {
        flex-grow: 3;
    }
    .flex-lg-grow-4 {
        flex-grow: 4;
    }
    .flex-lg-grow-5 {
        flex-grow: 5;
    }
    .flex-lg-grow-6 {
        flex-grow: 6;
    }
    .flex-lg-grow-7 {
        flex-grow: 7;
    }
    .flex-lg-grow-8 {
        flex-grow: 8;
    }
    .flex-lg-grow-9 {
        flex-grow: 9;
    }
    .flex-lg-grow-10 {
        flex-grow: 10;
    }
    .flex-lg-shrink-1 {
        flex-shrink: 1;
    }
    .flex-lg-shrink-2 {
        flex-shrink: 2;
    }
    .flex-lg-shrink-3 {
        flex-shrink: 3;
    }
    .flex-lg-shrink-4 {
        flex-shrink: 4;
    }
    .flex-lg-shrink-5 {
        flex-shrink: 5;
    }
    .flex-lg-shrink-6 {
        flex-shrink: 6;
    }
    .flex-lg-shrink-7 {
        flex-shrink: 7;
    }
    .flex-lg-shrink-8 {
        flex-shrink: 8;
    }
    .flex-lg-shrink-9 {
        flex-shrink: 9;
    }
    .flex-lg-shrink-10 {
        flex-shrink: 10;
    }
    .flex-lg-basis-0 {
        flex-basis: 0;
    }
    .flex-lg-basis-1 {
        flex-basis: 10%;
    }
    .flex-lg-basis-2 {
        flex-basis: 20%;
    }
    .flex-lg-basis-3 {
        flex-basis: 30%;
    }
    .flex-lg-basis-4 {
        flex-basis: 40%;
    }
    .flex-lg-basis-5 {
        flex-basis: 50%;
    }
    .flex-lg-basis-6 {
        flex-basis: 60%;
    }
    .flex-lg-basis-7 {
        flex-basis: 70%;
    }
    .flex-lg-basis-8 {
        flex-basis: 80%;
    }
    .flex-lg-basis-9 {
        flex-basis: 90%;
    }
    .flex-lg-basis-10 {
        flex-basis: 100%;
    }

    /* Float */
    .float-lg-start {
        float: start;
    }
    .float-lg-end {
        float: end;
    }
    .float-lg-none {
        float: none;
    }

    /* Border & Radius */
    .border-lg {
        border: 1px #8d99ae solid;
    }
    .border-lg-top {
        border-top: 1px #8d99ae solid;
    }
    .border-lg-bottom {
        border-bottom: 1px #8d99ae solid;
    }
    .border-lg-start {
        border-left: 1px #8d99ae solid;
    }
    .border-lg-end {
        border-right: 1px #8d99ae solid;
    }
    .border-lg-0 {
        border-width: 0;
    }
    .border-lg-top-0 {
        border-top-width: 0;
    }
    .border-lg-bottom-0 {
        border-bottom-width: 0;
    }
    .border-lg-start-0 {
        border-left-width: 0;
    }
    .border-lg-end-0 {
        border-right-width: 0;
    }
    .border-lg-primary {
        border-color: var(--primary-color);
    }
    .border-lg-secondary {
        border-color: var(--secondary-color);
    }
    .border-lg-success {
        border-color: var(--success-color);
    }
    .border-lg-danger {
        border-color: var(--danger-color);
    }
    .border-lg-warning {
        border-color: var(--warning-color);
    }
    .border-lg-info {
        border-color: var(--info-color);
    }
    .border-lg-light {
        border-color: var(--light-color);
    }
    .border-lg-dark {
        border-color: var(--dark-color);
    }
    .border-lg-white {
        border-color: var(--white-color);
    }
    .border.border-lg-1 {
        border-width: 1px;
    }
    .border.border-lg-2 {
        border-width: 2px;
    }
    .border.border-lg-3 {
        border-width: 3px;
    }
    .border.border-lg-4 {
        border-width: 4px;
    }
    .border.border-lg-5 {
        border-width: 5px;
    }
    .rounded-lg {
        border-radius: 3px;
    }
    .rounded-lg-top {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .rounded-lg-bottom {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .rounded-lg-end {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .rounded-lg-start {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .rounded-lg-circle {
        border-radius: 50%;
    }
    .rounded-lg-half {
        border-radius: 50px;
    }

    /* Overflow */
    .overflow-lg-hidden {
        overflow: hidden;
    }
    .overflow-lg-scroll {
        overflow: scroll;
    }
    .overflow-lg-visible {
        overflow: visible;
    }
    .overflow-lg-auto {
        overflow: auto;
    }
    .overflow-lg-x-hidden {
        overflow-x: hidden;
    }
    .overflow-lg-x-scroll {
        overflow-x: scroll;
    }
    .overflow-lg-x-visible {
        overflow-x: visible;
    }
    .overflow-lg-x-auto {
        overflow-x: auto;
    }
    .overflow-lg-y-hidden {
        overflow-y: hidden;
    }
    .overflow-lg-y-scroll {
        overflow-y: scroll;
    }
    .overflow-lg-y-visible {
        overflow-y: visible;
    }
    .overflow-lg-y-auto {
        overflow-y: auto;
    }
}

@media (max-width: 1199.98px) { /* XL */

}
@media (min-width: 1200px) { /* XL */
    /* Col */
    .container > .row > .col-xl-1 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 1);
        padding: 0 10px;
    }
    .container > .row > .col-xl-2 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 2);
        padding: 0 10px;
    }
    .container > .row > .col-xl-3 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .container > .row > .col-xl-4 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 4);
        padding: 0 10px;
    }
    .container > .row > .col-xl-5 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 5);
        padding: 0 10px;
    }
    .container > .row > .col-xl-6 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 6);
        padding: 0 10px;
    }
    .container > .row > .col-xl-7 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 7);
        padding: 0 10px;
    }
    .container > .row > .col-xl-8 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        padding: 0 10px;
    }
    .container > .row > .col-xl-9 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 9);
        padding: 0 10px;
    }
    .container > .row > .col-xl-10 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 10);
        padding: 0 10px;
    }
    .container > .row > .col-xl-11 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 11);
        padding: 0 10px;
    }
    .container > .row > .col-xl-12 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 12);
        padding: 0 10px;
    }

    /* Display */
    .d-xl-none {
        display: none !important;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-inline-block {
        display: inline-block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-inline-flex {
        display: inline-flex;
    }
    .d-xl-grid {
        display: grid;
    }
    .d-xl-inline-grid {
        display: inline-grid;
    }

    /* Flex */
    .flex-xl-direction-row {
        flex-direction: row;
    }
    .flex-xl-direction-row-reverse {
        flex-direction: row-reverse;
    }
    .flex-xl-direction-column {
        flex-direction: column;
    }
    .flex-xl-direction-column-reverse {
        flex-direction: column-reverse;
    }
    .flex-xl-nowrap {
        flex-wrap: nowrap;
    }
    .flex-xl-wrap {
        flex-wrap: wrap;
    }
    .flex-xl-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    .justify-xl-content-flex-start {
        justify-content: flex-start;
    }
    .justify-xl-content-flex-end {
        justify-content: flex-end;
    }
    .justify-xl-content-center {
        justify-content: center;
    }
    .justify-xl-content-space-between {
        justify-content: space-between;
    }
    .justify-xl-content-space-around {
        justify-content: space-around;
    }
    .justify-xl-content-space-evenly {
        justify-content: space-evenly;
    }
    .align-xl-items-flex-start {
        align-items: flex-start;
    }
    .align-xl-items-flex-end {
        align-items: flex-end;
    }
    .align-xl-items-center {
        align-items: center;
    }
    .align-xl-items-baseline {
        align-items: baseline;
    }
    .align-xl-items-stretch {
        align-items: stretch;
    }
    .align-xl-content-flex-start {
        align-content: flex-start;
    }
    .align-xl-content-flex-end {
        align-content: flex-end;
    }
    .align-xl-content-center {
        align-content: center;
    }
    .align-xl-content-stretch {
        align-content: stretch;
    }
    .align-xl-content-space-between {
        align-content: space-between;
    }
    .align-xl-content-space-evenly {
        align-content: space-evenly;
    }
    .align-xl-self-auto {
        align-self: auto;
    }
    .align-xl-self-flex-start {
        align-self: flex-start;
    }
    .align-xl-self-flex-end {
        align-self: flex-end;
    }
    .align-xl-self-center {
        align-self: center;
    }
    .align-xl-self-baseline {
        align-self: baseline;
    }
    .align-xl-self-stretch {
        align-self: stretch;
    }
    .order-xl-0 {
        order: 0;
    }
    .order-xl-1 {
        order: 1;
    }
    .order-xl-2 {
        order: 2;
    }
    .order-xl-3 {
        order: 3;
    }
    .order-xl-4 {
        order: 4;
    }
    .order-xl-5 {
        order: 5;
    }
    .order-xl-6 {
        order: 6;
    }
    .order-xl-7 {
        order: 7;
    }
    .order-xl-8 {
        order: 8;
    }
    .order-xl-9 {
        order: 9;
    }
    .order-xl-10 {
        order: 10;
    }
    .flex-xl-grow-1 {
        flex-grow: 1;
    }
    .flex-xl-grow-2 {
        flex-grow: 2;
    }
    .flex-xl-grow-3 {
        flex-grow: 3;
    }
    .flex-xl-grow-4 {
        flex-grow: 4;
    }
    .flex-xl-grow-5 {
        flex-grow: 5;
    }
    .flex-xl-grow-6 {
        flex-grow: 6;
    }
    .flex-xl-grow-7 {
        flex-grow: 7;
    }
    .flex-xl-grow-8 {
        flex-grow: 8;
    }
    .flex-xl-grow-9 {
        flex-grow: 9;
    }
    .flex-xl-grow-10 {
        flex-grow: 10;
    }
    .flex-xl-shrink-1 {
        flex-shrink: 1;
    }
    .flex-xl-shrink-2 {
        flex-shrink: 2;
    }
    .flex-xl-shrink-3 {
        flex-shrink: 3;
    }
    .flex-xl-shrink-4 {
        flex-shrink: 4;
    }
    .flex-xl-shrink-5 {
        flex-shrink: 5;
    }
    .flex-xl-shrink-6 {
        flex-shrink: 6;
    }
    .flex-xl-shrink-7 {
        flex-shrink: 7;
    }
    .flex-xl-shrink-8 {
        flex-shrink: 8;
    }
    .flex-xl-shrink-9 {
        flex-shrink: 9;
    }
    .flex-xl-shrink-10 {
        flex-shrink: 10;
    }
    .flex-xl-basis-0 {
        flex-basis: 0;
    }
    .flex-xl-basis-1 {
        flex-basis: 10%;
    }
    .flex-xl-basis-2 {
        flex-basis: 20%;
    }
    .flex-xl-basis-3 {
        flex-basis: 30%;
    }
    .flex-xl-basis-4 {
        flex-basis: 40%;
    }
    .flex-xl-basis-5 {
        flex-basis: 50%;
    }
    .flex-xl-basis-6 {
        flex-basis: 60%;
    }
    .flex-xl-basis-7 {
        flex-basis: 70%;
    }
    .flex-xl-basis-8 {
        flex-basis: 80%;
    }
    .flex-xl-basis-9 {
        flex-basis: 90%;
    }
    .flex-xl-basis-10 {
        flex-basis: 100%;
    }

    /* Float */
    .float-xl-start {
        float: start;
    }
    .float-xl-end {
        float: end;
    }
    .float-xl-none {
        float: none;
    }

    /* Border & Radius */
    .border-xl {
        border: 1px #8d99ae solid;
    }
    .border-xl-top {
        border-top: 1px #8d99ae solid;
    }
    .border-xl-bottom {
        border-bottom: 1px #8d99ae solid;
    }
    .border-xl-start {
        border-left: 1px #8d99ae solid;
    }
    .border-xl-end {
        border-right: 1px #8d99ae solid;
    }
    .border-xl-0 {
        border-width: 0;
    }
    .border-xl-top-0 {
        border-top-width: 0;
    }
    .border-xl-bottom-0 {
        border-bottom-width: 0;
    }
    .border-xl-start-0 {
        border-left-width: 0;
    }
    .border-xl-end-0 {
        border-right-width: 0;
    }
    .border-xl-primary {
        border-color: var(--primary-color);
    }
    .border-xl-secondary {
        border-color: var(--secondary-color);
    }
    .border-xl-success {
        border-color: var(--success-color);
    }
    .border-xl-danger {
        border-color: var(--danger-color);
    }
    .border-xl-warning {
        border-color: var(--warning-color);
    }
    .border-xl-info {
        border-color: var(--info-color);
    }
    .border-xl-light {
        border-color: var(--light-color);
    }
    .border-xl-dark {
        border-color: var(--dark-color);
    }
    .border-xl-white {
        border-color: var(--white-color);
    }
    .border.border-xl-1 {
        border-width: 1px;
    }
    .border.border-xl-2 {
        border-width: 2px;
    }
    .border.border-xl-3 {
        border-width: 3px;
    }
    .border.border-xl-4 {
        border-width: 4px;
    }
    .border.border-xl-5 {
        border-width: 5px;
    }
    .rounded-xl {
        border-radius: 3px;
    }
    .rounded-xl-top {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .rounded-xl-bottom {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .rounded-xl-end {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .rounded-xl-start {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .rounded-xl-circle {
        border-radius: 50%;
    }
    .rounded-xl-half {
        border-radius: 50px;
    }

    /* Overflow */
    .overflow-xl-hidden {
        overflow: hidden;
    }
    .overflow-xl-scroll {
        overflow: scroll;
    }
    .overflow-xl-visible {
        overflow: visible;
    }
    .overflow-xl-auto {
        overflow: auto;
    }
    .overflow-xl-x-hidden {
        overflow-x: hidden;
    }
    .overflow-xl-x-scroll {
        overflow-x: scroll;
    }
    .overflow-xl-x-visible {
        overflow-x: visible;
    }
    .overflow-xl-x-auto {
        overflow-x: auto;
    }
    .overflow-xl-y-hidden {
        overflow-y: hidden;
    }
    .overflow-xl-y-scroll {
        overflow-y: scroll;
    }
    .overflow-xl-y-visible {
        overflow-y: visible;
    }
    .overflow-xl-y-auto {
        overflow-y: auto;
    }
}