/*
    Grid Breakpoints;
    * xs: 0 - Extra Small
    * sm: 576px - Small
    * md: 768px - Medium
    * lg: 992px - Large
    * xl: 1200px - X-Large
*/

* {
    outline: none;
    box-sizing: border-box;
}

/* Container & Fluid */
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}
.container-full {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/* Row */
.container > .row {
    position: relative;
    left: -10px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
}

/* Col */
.container > .row > .col {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10px;
}
.container > .row > .col-1 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 1);
    padding: 0 10px;
}
.container > .row > .col-2 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 2);
    padding: 0 10px;
}
.container > .row > .col-3 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 3);
    padding: 0 10px;
}
.container > .row > .col-4 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 4);
    padding: 0 10px;
}
.container > .row > .col-5 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 5);
    padding: 0 10px;
}
.container > .row > .col-6 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 6);
    padding: 0 10px;
}
.container > .row > .col-7 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 7);
    padding: 0 10px;
}
.container > .row > .col-8 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 8);
    padding: 0 10px;
}
.container > .row > .col-9 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 9);
    padding: 0 10px;
}
.container > .row > .col-10 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 10);
    padding: 0 10px;
}
.container > .row > .col-11 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 11);
    padding: 0 10px;
}
.container > .row > .col-12 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 12 * 12);
    padding: 0 10px;
}

/* Display */
.d-none {
    display: none !important;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.d-grid {
    display: grid;
}
.d-inline-grid {
    display: inline-grid;
}

/*
    Every Screen CSS Codes
*/
@media (max-width: 575.98px) { /* SM */
    /* Container & Fluid */
    .container {
        width: 100%;
    }

    /* Col */
    .container > .row > .col-sm-1 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 1);
        padding: 0 10px;
    }
    .container > .row > .col-sm-2 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 2);
        padding: 0 10px;
    }
    .container > .row > .col-sm-3 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .container > .row > .col-sm-4 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 4);
        padding: 0 10px;
    }
    .container > .row > .col-sm-5 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 5);
        padding: 0 10px;
    }
    .container > .row > .col-sm-6 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 6);
        padding: 0 10px;
    }
    .container > .row > .col-sm-7 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 7);
        padding: 0 10px;
    }
    .container > .row > .col-sm-8 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        padding: 0 10px;
    }
    .container > .row > .col-sm-9 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 9);
        padding: 0 10px;
    }
    .container > .row > .col-sm-10 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 10);
        padding: 0 10px;
    }
    .container > .row > .col-sm-11 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 11);
        padding: 0 10px;
    }
    .container > .row > .col-sm-12 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 12);
        padding: 0 10px;
    }

    /* Display */
    .d-sm-none {
        display: none !important;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-inline-block {
        display: inline-block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-inline-flex {
        display: inline-flex;
    }
    .d-sm-grid {
        display: grid;
    }
    .d-sm-inline-grid {
        display: inline-grid;
    }
}
@media (min-width: 576px) { /* SM */

}

@media (max-width: 767.98px) { /* MD */
    /* Container & Fluid */
    .container {
        width: 100%;
    }
}
@media (min-width: 768px) { /* MD */
    /* Col */
    .container > .row > .col-md-1 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 1);
        padding: 0 10px;
    }
    .container > .row > .col-md-2 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 2);
        padding: 0 10px;
    }
    .container > .row > .col-md-3 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .container > .row > .col-md-4 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 4);
        padding: 0 10px;
    }
    .container > .row > .col-md-5 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 5);
        padding: 0 10px;
    }
    .container > .row > .col-md-6 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 6);
        padding: 0 10px;
    }
    .container > .row > .col-md-7 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 7);
        padding: 0 10px;
    }
    .container > .row > .col-md-8 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        padding: 0 10px;
    }
    .container > .row > .col-md-9 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 9);
        padding: 0 10px;
    }
    .container > .row > .col-md-10 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 10);
        padding: 0 10px;
    }
    .container > .row > .col-md-11 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 11);
        padding: 0 10px;
    }
    .container > .row > .col-md-12 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 12);
        padding: 0 10px;
    }

    /* Display */
    .d-md-none {
        display: none !important;
    }
    .d-md-block {
        display: block;
    }
    .d-md-inline-block {
        display: inline-block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-inline-flex {
        display: inline-flex;
    }
    .d-md-grid {
        display: grid;
    }
    .d-md-inline-grid {
        display: inline-grid;
    }
}

@media (max-width: 991.98px) { /* LG */

}
@media (min-width: 992px) { /* LG */
    /* Col */
    .container > .row > .col-lg-1 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 1);
        padding: 0 10px;
    }
    .container > .row > .col-lg-2 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 2);
        padding: 0 10px;
    }
    .container > .row > .col-lg-3 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .container > .row > .col-lg-4 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 4);
        padding: 0 10px;
    }
    .container > .row > .col-lg-5 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 5);
        padding: 0 10px;
    }
    .container > .row > .col-lg-6 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 6);
        padding: 0 10px;
    }
    .container > .row > .col-lg-7 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 7);
        padding: 0 10px;
    }
    .container > .row > .col-lg-8 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        padding: 0 10px;
    }
    .container > .row > .col-lg-9 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 9);
        padding: 0 10px;
    }
    .container > .row > .col-lg-10 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 10);
        padding: 0 10px;
    }
    .container > .row > .col-lg-11 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 11);
        padding: 0 10px;
    }
    .container > .row > .col-lg-12 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 12);
        padding: 0 10px;
    }

    /* Display */
    .d-lg-none {
        display: none !important;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-inline-block {
        display: inline-block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-inline-flex {
        display: inline-flex;
    }
    .d-lg-grid {
        display: grid;
    }
    .d-lg-inline-grid {
        display: inline-grid;
    }
}

@media (max-width: 1199.98px) { /* XL */

}
@media (min-width: 1200px) { /* XL */
    /* Col */
    .container > .row > .col-xl-1 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 1);
        padding: 0 10px;
    }
    .container > .row > .col-xl-2 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 2);
        padding: 0 10px;
    }
    .container > .row > .col-xl-3 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .container > .row > .col-xl-4 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 4);
        padding: 0 10px;
    }
    .container > .row > .col-xl-5 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 5);
        padding: 0 10px;
    }
    .container > .row > .col-xl-6 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 6);
        padding: 0 10px;
    }
    .container > .row > .col-xl-7 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 7);
        padding: 0 10px;
    }
    .container > .row > .col-xl-8 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        padding: 0 10px;
    }
    .container > .row > .col-xl-9 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 9);
        padding: 0 10px;
    }
    .container > .row > .col-xl-10 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 10);
        padding: 0 10px;
    }
    .container > .row > .col-xl-11 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 11);
        padding: 0 10px;
    }
    .container > .row > .col-xl-12 {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 12 * 12);
        padding: 0 10px;
    }

    /* Display */
    .d-xl-none {
        display: none !important;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-inline-block {
        display: inline-block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-inline-flex {
        display: inline-flex;
    }
    .d-xl-grid {
        display: grid;
    }
    .d-xl-inline-grid {
        display: inline-grid;
    }
}